<div class="center">
  <div class="content">
    <div class="input">
      <div class="insert-user">
        <mat-form-field class="example-full-width">
          <input
            matInput
            placeholder="Instagram Username"
            (keyup)="handleKeyUp($event)"
            [(ngModel)]="username"
          />
        </mat-form-field>
        <button mat-raised-button color="primary" (click)="onSubmit()">
          Submit
        </button>
      </div>
      <mat-radio-group
        aria-labelledby="example-radio-group-label"
        class="example-radio-group"
        [(ngModel)]="filterSelected"
      >
        <mat-radio-button
          class="example-radio-button"
          *ngFor="let filter of filters"
          [value]="filter"
          (change)="onChangeFilter($event)"
        >
          {{ filter }}
        </mat-radio-button>
      </mat-radio-group>
    </div>

    <div class="output">
      <app-popular-post
        [hidden]="filterSelected !== 'Most popular post'"
        [username]="username"
      ></app-popular-post>
      <app-likes-viewer
        [hidden]="filterSelected !== 'See all likes'"
        [username]="username"
      ></app-likes-viewer>
    </div>
  </div>
</div>
