.center {
  display: flex;
  justify-content: center;
}
.content {
  padding-top: 50px;
  width: 100%;
}

label {
  font-size: 20px;
}

.input {
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
}

.insert-user {
  position: relative;
}

h1 {
  font-weight: 400;
}

.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}

.example-radio-group {
  display: flex;
  flex-direction: column;
  margin: 15px 0px 15px 50px;
}

.example-radio-button {
  margin: 5px;
}

.mat-raised-button {
  border-radius: 25px;
}
.selected {
  color: #ff4081;
}

@media screen and (max-width: 500px) {
  .input {
    flex-direction: column-reverse;
  }
  .example-radio-group {
    flex-direction: row;
    margin-left: 0px;
    justify-content: space-between;
  }
  .center {
    padding: 0 60px;
  }

  .insert-user {
    display: flex;
    flex-direction: column;
  }

  .mat-raised-button {
    width: 50%;
    margin: auto;
  }
}

.display-error {
  .error-message {
    display: block;
    font-size: 12px;
    position: absolute;
    top: 47px;
    color: #f44336;
  }
}
