<div class="center">
  <div class="content">
    <div class="input">
      <div class="insert-user">
        <mat-form-field class="example-full-width">
          <input spellcheck="false" matInput placeholder="Instagram Username" [formControl]="formControl"
            [matAutocomplete]="auto" />
          <mat-error *ngIf="formControl.hasError('isPrivateAccount')">
            This account is private.
          </mat-error>
          <mat-error *ngIf="formControl.hasError('isUserDoesNotExist')">
            This username does not exist.
          </mat-error>
          <mat-autocomplete (optionSelected)="getUserSelected($event)" [displayWith]="displayFn"
            #auto="matAutocomplete">
            <mat-option *ngFor="let user of users" [value]="user">
              <app-user-info [user]="user"></app-user-info>
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
      </div>
      <mat-radio-group aria-labelledby="example-radio-group-label" class="example-radio-group"
        [(ngModel)]="filterSelected">
        <mat-radio-button class="example-radio-button" [ngClass]="{ selected: filter === filterSelected }"
          *ngFor="let filter of filters" [value]="filter" (change)="onChangeFilter($event)">
          {{ filter }}
        </mat-radio-button>
      </mat-radio-group>
    </div>

    <div class="output" *ngIf="userSelected">
      <app-popular-post *ngIf="filterSelected === 'Popular Post'" [user]="userSelected" [form]="formControl">
      </app-popular-post>
      <app-likes-viewer *ngIf="filterSelected === 'All Posts'" [user]="userSelected" [form]="formControl">
      </app-likes-viewer>
    </div>
  </div>
</div>