.popular-pic {
  display: flex;
  justify-content: center;
}
mat-progress-bar {
  position: absolute;
  top: 0;
}

@media screen and (max-width: 500px) {
  .hide-for-mobile {
    display: none;
  }
}
