<div class="center"> 
  <div class="content"> 
    <div class="input"> 
        <mat-form-field class="example-full-width">
            <input matInput placeholder="Instagram Username" [(ngModel)]="username">
          </mat-form-field>
          <button mat-raised-button color="primary" (click)="getMostLikedPic()">Submit</button>
    </div> 
    
    <div class="output" *ngIf="bestLikedPic.imageUrl"> 
        <mat-card class="example-card">
            <mat-card-header>
              <div mat-card-avatar class="example-header-image">
                <img mat-card-image [src]="profilPic">
              </div>
              <mat-card-title>Most popular picture: {{bestLikedPic.numberOfLikes}} likes</mat-card-title>
            </mat-card-header>
            <img mat-card-image [src]="bestLikedPic.imageUrl">
            <mat-card-content>
              <p>
                {{bestLikedPic.comment}}
              </p>
            </mat-card-content>
          </mat-card>
    </div> 
  </div> 
</div>