.images {
  display: flex;
  justify-content: center;
  .insta-pic-list {
    width: 63%;
    display: flex;
    flex-wrap: wrap;
    .insta-pic {
      padding: 30px;
    }
  }
}

@media screen and (max-width: 500px) {
  .insta-pic-list {
    width: inherit !important;
  }
}

mat-progress-spinner {
  margin: auto;
}
